# secrets
.env

# git
.gitattributes
.gitignore

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/
env/

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# local runtime data
local_store/
